<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comfy House</title>
    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/4528fc5a69.js" crossorigin="anonymous"></script>
    <!-- custom css -->
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
    <!-- navbar -->
    <nav class="navbar">
        <div class="navbar-center">
            <span class="nav-icon">
                <i class="fas fa-bars"></i>
            </span>
            <img src="./img/logo.svg" alt="store logo">
        </div>
    </nav>
    <!-- end of navbar -->
    <!-- hero -->
    <header class="hero">
        <div class="banner">
            <div class="form">
                <h1 class="form-title">New Product</h1>
                <form method="post" enctype="multipart/form-data" id="newProductForm" name="newProductForm">
                    <div class="input-group mb-3 input-group-sm">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Title</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Enter product title" id="title" name="title" aria-label="title">
                    </div>
                    <div class="input-group mb-3 input-group-sm">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Price</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Enter product price" id="price" name="price" aria-label="price">
                    </div>
                    <div class="input-group mb-3 input-group-sm">
                        <div class="custom-file">
                            <input type="file" accept="image/*" class="custom-file-input" id="customFile" name="customFile">
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>                    
                    </div>
                    <button> Enviar </button>
                </form>
            </div>
        </div>
    </header>
    <!-- end of hero -->
    <script src="./js/newproduct.js"></script>
</body>
</html>