<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comfy House</title>
    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/4528fc5a69.js" crossorigin="anonymous"></script>
    <!-- custom css -->
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
    <!-- navbar -->
    {{>header}}
    <!-- end of navbar -->
    <!-- hero -->
    <header class="hero">
        <div class="banner">
            <div class="form">
                <h1 class="form-title">Update Product</h1>
                <form method="post" action = "/index.hbs" enctype="multipart/form-data" id="updateProductForm" name="updateProductForm">
                    <div class="input-group mb-3 input-group-sm">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Title</span>
                        </div>
                        <input type="text" class="form-control" id="title" name="title" aria-label="title" value="{{title}}">
                    </div>
                    <div class="input-group mb-3 input-group-sm">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Price</span>
                        </div>
                        <input type="text" class="form-control"  id="price" name="price" aria-label="price" value="{{price}}">
                    </div>
                    <div class="input-group mb-3 input-group-sm">
                        <div class="custom-file">
                            <input type="file" accept="image/*" class="custom-file-input" id="customFile" name="customFile">
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>                    
                    </div>
                        <button id="update" type="submit" value={{id}}>Update</button>                    
                </form>
            </div>
        </div>
    </header>
    <!-- end of hero  <button>Update</button>-->
    <script src="../js/productClass.js"></script>
    <script src="../js/update.js"></script>
    <!-- Menu DropBox -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>